@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  width: 100%;
  height: 100%;
  font-family: 'Quicksand';
}

.logo {
  height: 75px;
  width: auto;
  vertical-align: middle;
  padding-left: 5%;
}

.btn-config {
  color: #888;
}

.btn-config:hover {
  color: #000;
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.card:not(.card-vs) {
  border-radius: 0px;
  box-shadow: -1px 1px 1px #888;
}

.btn-save-config,
.btn-close-config {
  color: #dddddd !important;
}

.btn-card {
  width: 100%;
}

.card-vs {
  border: none;
  margin-top: 25%;
}

.top-buffer {
  margin-top: 20px;
}

.next-player {
  font-size: 30px;
  display: none;
}

.list-group-item:hover:not(.add-player-li) {
  background-color: #dc3545 !important
}

.add-player {
  width: 100%;
  text-align: center;
  border: none;
}

.list-group-item {
  border: none;
}
