@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  width: 100%;
  height: 100%;
  font-family: 'Quicksand';
}

.logo {
  height: 75px;
  width: auto;
  vertical-align: middle;
  padding-left: 5%;
}

.btn-card {
  width: 100%;
}

.card-vs {
  border: none;
  margin-top: 25%;
}

.top-buffer {
  margin-top: 20px;
}

.next-player {
  font-size: 30px;
  display: none;
}

.list-group-item:hover:not(.add-player-li) {
  background-color: #dc3545 !important
}

.add-player {
  width: 100%;
  text-align: center;
}
